{% load static %}
<footer class="footer footer-2">
  <div class="footer-middle">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-lg-4">
          <div class="widget widget-about">
            <img
              src="{% static 'assets/images/logo.png' %}"
              class="footer-logo"
              alt="Footer Logo"
              width="105"
              height="25"
            />
            <p>
              welcome to BAPC, we sell all kinds of gadjets at affordable prices
              and deliver at a very fast rate ..BAPC the ideal gadjets store
            </p>

            <div class="widget-about-info">
              <div class="row">
                <div class="col-sm-6 col-md-4">
                  <span class="widget-about-title"
                    >Got Question? Call us 24/7</span
                  >
                  <a href="#">+2348154549199</a>
                </div>
                <!-- End .col-sm-6 -->
                <div class="col-sm-6 col-md-8">
                  <span class="widget-about-title">Payment Method</span>
                  <figure class="footer-payments">
                    <img
                      src="{% static 'assets/images/payments.png' %}"
                      alt="Payment methods"
                      width="272"
                      height="20"
                    />
                  </figure>
                  <!-- End .footer-payments -->
                </div>
                <!-- End .col-sm-6 -->
              </div>
              <!-- End .row -->
            </div>
            <!-- End .widget-about-info -->
          </div>
          <!-- End .widget about-widget -->
        </div>
        <!-- End .col-sm-12 col-lg-4 -->

        <div class="col-sm-4 col-lg-2">
          <div class="widget">
            <h4 class="widget-title">Information</h4>
            <!-- End .widget-title -->

            <ul class="widget-list">
              <li><a href="">About BAPC</a></li>
              <li><a href="">How to shop on BAPC</a></li>
              <li><a href="">FAQ</a></li>
              <li><a href="">Contact us</a></li>
              <li><a href="">Log in</a></li>
            </ul>
            <!-- End .widget-list -->
          </div>
          <!-- End .widget -->
        </div>
        <!-- End .col-sm-4 col-lg-2 -->

        <div class="col-sm-4 col-lg-2">
          <div class="widget">
            <h4 class="widget-title">My Account</h4>
            <!-- End .widget-title -->

            <ul class="widget-list">
              <li><a href="">Sign In</a></li>
              <li><a href="/order-summary">View Cart</a></li>
            </ul>
            <!-- End .widget-list -->
          </div>
          <!-- End .widget -->
        </div>
        <!-- End .col-sm-4 col-lg-2 -->

        <div class="col-sm-6 col-lg-2">
          <div class="widget widget-newsletter">
            <h4 class="widget-title">Newsletter</h4>
            <!-- End .widget-title -->

            <p>Subscribe to our Newsletter for updates on latest tech</p>

            <form action="#">
              <div class="input-group">
                <input
                  type="email"
                  class="form-control"
                  placeholder="Enter your Email Address"
                  aria-label="Email Adress"
                  required
                />
                <div class="input-group-append">
                  <button class="btn btn-dark" type="submit">
                    <i class="icon-long-arrow-right"></i>
                  </button>
                </div>
                <!-- .End .input-group-append -->
              </div>
              <!-- .End .input-group -->
            </form>
          </div>
          <!-- End .widget -->
        </div>
        <!-- End .col-sm-6 col-lg-2 -->
      </div>
      <!-- End .row -->
    </div>
    <!-- End .container-fluid -->
  </div>
  <!-- End .footer-middle -->

  <div class="footer-bottom">
    <div class="container-fluid">
      <p class="footer-copyright">
        Copyright © 2021 BAPC Store. All Rights Reserved.
      </p>
      <!-- End .footer-copyright -->
      <ul class="footer-menu">
        <li><a href="#">Terms Of Use</a></li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
      <!-- End .footer-menu -->

      <div class="social-icons social-icons-color">
        <span class="social-label">Social Icons</span>
        <a
          href="#"
          class="social-icon social-facebook"
          title="Facebook"
          target="_blank"
          ><i class="icon-facebook-f"></i
        ></a>
        <a
          href="#"
          class="social-icon social-twitter"
          title="Twitter"
          target="_blank"
          ><i class="icon-twitter"></i
        ></a>
        <a
          href="#"
          class="social-icon social-instagram"
          title="Instagram"
          target="_blank"
          ><i class="icon-instagram"></i
        ></a>
        <a
          href="#"
          class="social-icon social-youtube"
          title="Youtube"
          target="_blank"
          ><i class="icon-youtube"></i
        ></a>
        <a
          href="#"
          class="social-icon social-pinterest"
          title="Pinterest"
          target="_blank"
          ><i class="icon-pinterest"></i
        ></a>
      </div>
      <!-- End .soial-icons -->
    </div>
    <!-- End .container-fluid -->
  </div>
  <!-- End .footer-bottom -->
</footer>
<!-- End .footer -->
